@model IEnumerable<MotorModel>
@inject SensorWeb.Resources.CommonLocalizationService localizer

@{
    ViewData["Title"] = "Home Page";
}

<div id="main-wrapper">
    <div class="row">
        <div class="col-md-12">
            <div class="card card-white">
                <div class="card-heading clearfix">
                    <table style="width: 100%;">
                        <tr>
                            <td><h4 class="card-title">Listagem de sensores</h4></td>                            
                        </tr>
                    </table>
                </div>

                <div class="card-body">
                    <div class="table-responsive">
                        <table id="example" class="display table" style="width:100%;text-align:center">
                            <thead>
                                <tr>
                                    <th>
                                        Equipamento
                                    </th>
                                    <th>
                                        Sensor
                                    </th>
                                    <th>
                                        Id
                                    </th>
                                    <th>
                                        Alarme
                                    </th>
                                </tr>
                            </thead>

                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @item.Name
                                        </td>
                                        <td>
                                            @item.Device.Tag
                                        </td>
                                        <td>
                                            @item.Device.Code
                                        </td>
                                        <td>
                                            @item.Alarm
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
